
@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><strong class="text-uppercase text-danger">Danh sách loại sản phẩm</strong></h3>

        <div class="card-tools">
            <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Category")" role="button">
                <i class="fas fa-trash-alt"></i> Thoát
            </a>
        </div>
    </div>
    @*  @Html.Partial("_MessageAlert")*@
    <div class="card-body">
        <div id="myTable_wrapper" class="dataTables_wrapper no-footer">
            <div class="dataTables_length" id="myTable_length"><label>Show <select name="myTable_length" aria-controls="myTable" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="myTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="myTable"></label></div><table class="table table-bordered dataTable no-footer" id="myTable" role="grid" aria-describedby="myTable_info">
                <thead>
                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Tên loại sản phẩm: activate to sort column descending" style="width: 651px;">Tên loại sản phẩm</th><th style="width:160px" class="text-center sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Chức năng: activate to sort column ascending">Chức năng</th><th style="width:30px" class="text-center sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending">ID</th></tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr role="row" class="even">
                            <td class="sorting_1"><a href="">@item.category_name</a></td>
                            <td class="text-center">
                                <a class="btn btn-info btn-sm" href="@Url.Action("Status","Category", new { id = item.category_id})">
                                    <i class="fa fa-undo" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Category", new { id = item.category_id})">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td class="text-center">@item.category_id</td>
                        </tr>
                    }
                </tbody>
        </div>
    </div>
</div>
