@model IEnumerable<TTTN.Models.C_topic>
@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title"><strong class="text-uppercase text-danger">Thùng rác chủ đề</strong></h3>
        <div class="card-tools">
            <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Topic")" role="button">
                <i class="fas fa-times"></i> Thoát
            </a>
        </div>
    </div>
    <div class="card-body">
        @Html.Partial("_MessageAlert")
        <table class="text-center table table-hover table-bordered table-striped">
            <thead>
                <tr class="bg-cyan">
                    <th>Tên chủ đề</th>
                    <th>Chức năng</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model)
                {
                    <tr>
                        <th>@row.topic_name</th>
                        <td>

                            <a class="btn btn-info btn-sm" href="@Url.Action("ReTrash","Topic",new {id=row.topic_id})" role="button">
                                <i class="fas fa-undo-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Topic",new {id=row.topic_id})" role="button">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td>@row.topic_id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


