@model TTTN.Models.C_post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> listTop = new List<SelectListItem>();
    List<SelectListItem> listOrder = new List<SelectListItem>();
    foreach (var item in ViewBag.ListTop)
    {
        SelectListItem listcatitem = new SelectListItem() { Value = item.topic_id + "", Text = item.topic_name };
        listTop.Add(listcatitem);
        SelectListItem listorderitem = new SelectListItem() { Value = item.topic_order + 1 + "", Text = "Sau--" + item.topic_name };
        listOrder.Add(listorderitem);
    }
    listTop.Insert(0, new SelectListItem() { Value = "0", Text = "[---None---]" });
    listOrder.Insert(0, new SelectListItem() { Value = "1", Text = "[---None---]" });
}

@using (Html.BeginForm("Edit", "Post", new { id = Model.post_id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><strong class="text-uppercase text-danger">Cập nhật bài viết</strong></h3>
            <div class="card-tools">
                <button type="submit" class=" btn btn-sm btn-success"><i class="fas fa-save" aria-hidden="true"></i> Lưu [Cập nhật] </button>

                <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Post")" role="button">
                    <i class="fas fa-times"></i> Thoát
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for=""><strong>Tên bài viết <span class="text-danger">(*)</span></strong></label>
                        <input type="text" class="form-control" name="post_title" value="@Model.post_title" />
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Chi tiết bài viết <span class="text-danger">(*)</span></strong></label>
                        @Html.TextAreaFor(model => model.post_detail, new { @class = "form-control", @placeholder = "Từ khóa", @id = "ten" })
                        @Html.ValidationMessageFor(model => model.post_detail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Mô tả <span class="text-danger">(*)</span></strong></label>
                        @Html.TextAreaFor(model => model.post_metadesc, new { @class = "form-control", @placeholder = "Mô tả" })
                        @Html.ValidationMessageFor(model => model.post_metadesc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Từ khóa <span class="text-danger">(*)</span></strong></label>
                        @Html.TextAreaFor(model => model.post_metakey, new { @class = "form-control", @placeholder = "Mô tả" })
                        @Html.ValidationMessageFor(model => model.post_metakey, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for=""><strong>Loại bài viết <span class="text-danger">(*)</span></strong></label>
                        @Html.DropDownListFor(model => model.post_type, new[] { new SelectListItem { Text = "Post", Value = "Post" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.post_type, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Chủ đề bài viết <span class="text-danger">(*)</span></strong></label>
                        <select name="post_topid" class="form-control">
                            @foreach (var item in listTop)
                            {
                                <option selected value="@item.Value">@item.Text</option>

                            }
                        </select>

                    </div>
                    <div class="form-group">
                        <label for=""><strong>Hình ảnh <span class="text-danger">(*)</span></strong></label>
                        <input type="file" name="file" value="" />
                    </div>
                    <div class="form-group">
                        <label for=""><strong>Trạng thái <span class="text-danger">(*)</span></strong></label>
                        @Html.DropDownListFor(model => model.post_status, new[] { new SelectListItem { Text = "Xuất bản", Value = "1" }, new SelectListItem { Text = "Chưa xuất bản", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.post_status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

}