@model IEnumerable<TTTN.Models.C_post>
@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <strong class="text-uppercase text-danger">Thùng rác bài viết</strong>
        </h3>
        <div class="card-tools">
            <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Post")" role="button">
                <i class="fas fa-times"></i> Thoát
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="text-center table table-hover table-bordered table-striped">
            <thead>
                <tr class="bg-cyan">
                    <th>Tên bài viết</th>
                    <th>Chủ đề</th>
                    <th>Chức năng</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model)
                {
                    <tr>
                        <th>@row.post_title</th>
                        <td>@row.post_topid</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="@Url.Action("ReTrash","Post",new {id=row.post_id})" role="button">
                                <i class="fas fa-undo-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Post",new {id=row.post_id})" role="button">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td>@row.post_id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
