@model TTTN.Models.C_order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>C_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_createdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_exportdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_exportdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_deliveryaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_deliveryaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_deliveryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_deliveryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_deliveryphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_deliveryphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_updatedat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_updatedat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_updatedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_updatedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_payment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
