@model IEnumerable<TTTN.Models.C_menu>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><strong class="text-uppercase text-danger">Danh sách Menu</strong></h3>
            <div class="card-tools">
                <a class="btn btn-danger btn-sm" href="@Url.Action("Trash","menu")" role="button">
                    <i class="fas fa-trash-alt"></i> Thùng rác
                </a>
            </div>
        </div>
        @Html.Partial("_MessageAlert")

        <div class="card-body">
            <div class="row">

                <div class="col-md-3">
                    <div class="accordion" id="accordionExample">
                        <div class="card">

                            <div class="card-header" id="headingCategory">
                                <span>Loại sản phẩm</span>
                                <span class="float-right btn btn-sm btn-info collapsed" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </div>
                            @using (Html.BeginForm("Index", "Menu", FormMethod.Post))
                            {
                                <div id="collapse" class=" p-2" aria-labelledby="headingCategory" data-parent="#accordionExample">
                                    @foreach (var item in ViewBag.listCat)
                                    {
                                        <fieldset class="form-group">
                                            <input name="nameCategory" value="@item.category_id" id="category_@item.category_id" type="checkbox">
                                            <label for="category_@item.category_id">@item.category_name</label>
                                        </fieldset>
                                    }
                                    <fieldset class="form-group">
                                        <input type="submit" name="ThemCategory" value="Thêm" class=" btn btn-outline-success">
                                    </fieldset>
                                </div>
                            }
                            </div>

                        <div class="card">
                            <div class="card-header" id="headingCustom">
                                <span>Tùy chỉnh</span>
                                <span class="float-right btn btn-sm btn-info" data-toggle="collapse" data-target="#collapseCustom" aria-expanded="true" aria-controls="collapseCustom">
                                    <i class="fas fa-plus"></i>
                                </span>

                            </div>
                            @using (Html.BeginForm("Index", "Menu", FormMethod.Post))
                            {
                                <div id="collapseCustom" class=" p-2 m-2" aria-labelledby="headingCustom" data-parent="#accordionExample">
                                    <fieldset class="form-group">
                                        <label>Tên menu</label>
                                        <input name="name" class="form-control" id="checkid" required type="text">
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label>Liên kết</label>
                                        <input name="link" class="form-control" type="text" required>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <input type="submit" name="ThemCustom" value="Thêm" class=" btn btn-outline-success">
                                    </fieldset>
                                </div>
                            }
                            </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th>Tên menu</th>
                                <th style="width:160px" class="text-center">Chức năng</th>
                                <th style="width:30px" class="text-center">ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="">@item.menu_name</a></td>
                                    <td class="text-center">
                                        @if (item.menu_status == 1)
                                        {
                                            <a class="btn btn-success btn-sm" href="@Url.Action("Status","Menu", new { id = item.menu_id})" role="button">
                                                <i class="fa fa-toggle-on"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success btn-sm" href="@Url.Action("Status","Menu", new { id = item.menu_id})" role="button">
                                                <i class="fa fa-toggle-off text-danger"></i>
                                            </a>
                                        }
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Edit","Menu", new { id = item.menu_id})" role="button">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("DelTrash","Menu", new { id = item.menu_id})" role="button">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">@item.menu_id</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
